<div class="row">
  <div class="small-12 medium-1 column">
    <%= render "util_bar" %>
  </div>
  
  <div class="small-12 medium-6 column">
    <%= render partial: "index_party", collection: @parties, as: :party %>
  </div>
  
  <div class="small-12 medium-5 column">
    <p> Dieser Knopf kopiert alle Schichten und Bereiche aus dem oberen Fest in das undere. Dabei werden keine Fachschaftszuweisungen oder eingetragene Personen übernommen.
    </p>
    <p>
      WICHTIG: diese Schichten werden neu angelegt, d.h. diese Funktion hier macht nur Sinn wenn das untere Fest gerade neu angelegt wurde!
    </p>
    <p>
      Wird dies nicht beachtet hat niemand Anspruch sich zu beschweren!
    </p>
    
    <%= form_tag parties_copy_path do %>
        <%= select_tag :copy_party, options_from_collection_for_select(@parties, :id, :name) %>
        <%= select_tag :goal_id, options_from_collection_for_select(@parties, :id, :name) %>
        <br>
        <% if canUse("PartiesController","copy") %>
          <%= submit_tag "Kopieren", :class => "expanded button" %>
        <% end %>
    <% end %>
  </div>
</div>


