<div class="small-12 column noteShowBox">
  <div class="row headi">
    <div class="small-6 medium-2 column">
      <%= note.wertung %>
    </div>
    <div class="small-6 medium-6 column">
      <% pp = Party.where("id = :ni",{ni: note.party_id}) %>
      <%= pp.empty? ? "deleted" : pp.first.name %>
    </div>
    <div class="small-12 medium-4 column">
      <%= note.author || "unknown" %>
    </div>
  </div>
  <div class="row">
    <div class="small-10 column">
      <%= simple_format note.text %>
    </div>
    <div class="small-2 column">
      <% if canUse("NotesController","edit") %>
        <button data-open="editNoteModal<%= note.id %>"><%= fa_icon "pencil" %></button>
      <% end %>
      <br>
      <% if canUse("NotesController","destroy") %>
        <%= link_to fa_icon("trash"), person_note_path(@person,note), :confirm => "Sure?", :method => :delete %>
      <% end %>
    </div>
  </div>
</div>

<div class="reveal" id="editNoteModal<%= note.id %>" data-reveal>
  <%= render :template => 'notes/edit', :locals => {:nid => note.id, :pid => @person.id } %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
