<div class="row">
  <div class="small-12 medium-9 medium-offset-1 column">
    <div class="row">
          
      <% if canUse("RightsController","index") %>      
        <%= link_to rights_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "user-circle 5x" %>
            <p>
              Userrechte
            </p>
          </div>
        <% end %>
      <% end %>
      
      <% if canUse("PartiesController","index") %>      
        <%= link_to parties_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "glass 5x" %>
            <p>
              Feste
            </p>
          </div>
        <% end %>
      <% end %>
      
       <% if canUse("CouncilsController","index") %>      
        <%= link_to councils_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "users 5x" %>
            <p>
              Fachschaften
            </p>
          </div>
        <% end %>
      <% end %>
      
      <% if canUse("ShiftsController","sortToCouncil") %>      
        <%= link_to shifts_sortToCouncil_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "tasks 5x" %>
            <p>
              Schichten zuordnen
            </p>
          </div>
        <% end %>
      <% end %>
      
      <% if canUse("OriginsController","lists") %>      
        <%= link_to origins_lists_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "list 5x" %>
            <p>
              Listen
            </p>
          </div>
        <% end %>
      <% end %>
      
      <% if canUse("StatisticsController","index") %>      
        <%= link_to statistics_index_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "bar-chart 5x" %>
            <p>
              Statistiken
            </p>
          </div>
        <% end %>
      <% end %>
      
      <% if canUse("StatisticsController","index") %>      
        <%= link_to statistics_index_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "bar-chart 5x" %>
            <p>
              Mail(in Work)
            </p>
          </div>
        <% end %>
      <% end %>
      
    </div>
    
    <div class="row">
      <div class="small-12 column teiler">
        <%= fa_icon "arrow-down" %> Interne Methoden -- Benutzung auf eigene Gefahr <%= fa_icon "arrow-down" %>
      </div>
    </div>
    
    <div class="row">
    
      <% if canUse("JudgesController","index") %>
        <%= link_to judges_index_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "institution 5x" %>
            <p>
              Methodenrechte
            </p>
          </div>
        <% end %>
      <% end %>
      
       <% if canUse("LogsController","index") %>
        <%= link_to logs_index_path do %>
          <div class="small-4 column linkEntry">
            <%= fa_icon "tasks 5x" %>
            <p>
              Logs
            </p>
          </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
  <div class="show-for-medium medium-2 column">
    &nbsp;
  </div>
</div>
