<div class="row">
  <h2>request.env</h2>
  <table>
  <% request.env.each do |a,b| %>
    <tr>
      <td><%= a %></td><td><%= b %></td>
    <tr>
  <% end %>
  </table>
  
  <h2>debug env</h2>
  <%= debug ENV.to_h.to_yaml %>
  
  <h2>meine Funktion</h2>
  <table>
  <% allEnv().each do |a| %>
    <tr>
      <td><%= a[0] %></td><td><%= a[1] %></td>
    <tr>
  <% end %>
  </table>
</div>


