<div class="small-12 column">
  <div class="row shiftEntry">
    <% if shift.council_id %> <% ccc = Council.find(shift.council_id) %> <% end %>
    
    <div class="small-4 column timeSpan" <% if ccc %> style="color:#<%= ccc.color %>" <% end %> >
      <%= shift.start.to_s(:time) %> -- <%= shift.ende.to_s(:time) %>
        <span style="color:black"><% if ccc %> ( <%= ccc.shortcut %> ) </span>
      <% end %>
    </div>
    <div class="small-5 column personBox">
      <% if shift.person_id %>
        <% p = Person.find(shift.person_id) %>
        <%= link_to p.name, p %>
      <% else %> 
        <a data-open="insertShiftModal<%= shift.id %>" , title="Eintragen">
          <%= fa_icon "plus" %><%= fa_icon "plus" %> add <%= fa_icon "plus" %><%= fa_icon "plus" %>
        </a>
      <% end %>
    </div>
    <div class="small-1 column shiftButtons">
      <% if shift.person_id %>
        <% if canUse("ShiftsController","remove") %>
          <%= link_to fa_icon("sign-out 2x"), shifts_remove_path(:id => shift.id ), :method => :post, :title => "Austragen" %>
        <% end %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
    
    <div class="small-2 column shiftButtons">
      
      <% if canUse("ShiftsController","update") %>
        <button data-open="editShiftModal<%= shift.id %>">
          <%= fa_icon "pencil 2x"%>
        </button>
      <% end %>
      
      <% if canUse("ShiftsController","destroy") %>
        <%= link_to fa_icon("trash 2x"), [@section,shift], :data => {:confirm => "Sure?"}, :method => :delete, :title => "Löschen" %>
      <% end %>
      
    </div>
  </div>
</div>


<div class="reveal" id="editShiftModal<%= shift.id %>" data-reveal>
  <%= render :template => 'shifts/edit', locals:{:shift => shift} %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="insertShiftModal<%= shift.id %>" data-reveal>
  <%= render :template => 'shifts/insert', locals:{:shift => shift} %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
