<div class="small-12 medium-4 column imgCont">
  <div class="thumbImg">
    <button data-toggle="showShirtModal<%= shirt.id %>">
      <%= image_tag shirt.photo.url(:thumb), :height=>"300" %>
    </button>
    
    <div class="imgLabel">
      <%= shirt.semester %>, <%= shirt.jahr %>
    </div>
    
    <div class="imgButtons">
      <div class="row">
        <div class="small-4 column">
          <% if canUse("ShirtsController","download") %>
            <button class="button expanded" type="button" data-toggle="dropdown<%= shirt.id %>"><%= fa_icon "download 2x" %></button>
          <% else %>
            &nbsp;
          <% end %>
        </div>
        <div class="small-4 column">
          <% if canUse("ShirtsController","update") %>
            <button class="button expanded" data-open="editShirtModal<%= shirt.id %>"><%= fa_icon "pencil 2x" %></button>
          <% else %>
            &nbsp;
          <% end %>
        </div>
        <div class="small-4 column">
          <% if canUse("ShirtsController","destroy") %>
            <%= link_to fa_icon("trash 2x"), shirt, :method => :delete, :class=>"expanded button" %>
          <% else %>
            &nbsp;
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reveal" id="editShirtModal<%= shirt.id %>" data-reveal>
  <%= render partial: "shirt_form", locals: {shirt: shirt, buttonText: "Erstellen"} %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="showShirtModal<%= shirt.id %>" data-reveal>
  <%= image_tag shirt.photo.url(:original) %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="dropdown-pane top shirtDrop" id="dropdown<%= shirt.id %>" data-dropdown data-auto-focus="true">
  <div class="row">
    <div class="small-6 column">
      <%= link_to "Original", shirt_download_path(shirt, :what => :original), :class=>"button expanded", :method => :post %>
    </div>
    <div class="small-6 column">
      <%= link_to "PNG", shirt_download_path(shirt, :what => :raster), :class=>"button expanded", :method => :post %>
    </div>
  </div>
</div>
